#timer {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

#timer > div:first-child {
    font-size: 2em;
    color: var(--main-bg-blue);

    transition: 0.3s ease-out;
}

#timer > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

#timer .card {
    /* background-color: var(--highlight-pink); */
    color: var(--main-bg-blue);
    /* color: white; */
    border-radius: 20px;
    padding: 0.5em;
    text-align: center;

    transition: 0.3s ease-out;
}

#timer .card:hover,
#timer > div:first-child:hover {
    color: white;
    transform: scale(1.3);
}

#timer .count {
    font-size: 2.5em;
}
