#speaker {
    position: relative;
    grid-template-rows: 20fr 80fr;
    height: 100vh;
    font-size: 2em;
}

.about-speaker {
    padding-inline: 5em;
    padding-inline-end: 7em;
    position: relative;
    overflow-y: scroll;
    /* max-height: 70%; */
}

.speaker-image {
    position: absolute;
    width: 80vw;
    z-index: -1;
    filter: brightness(57%) opacity(70%);
    bottom: 70%;
    right: -10%;
}

.speaker-image > img {
    position: absolute;
    width: 80%;
    max-width: 500px;
    top: 0;
}

.speaker-image > img:first-child {
    z-index: 1;
}

.speaker-image > img:last-child {
    z-index: 0;
    transform: translate(-5%);
}
