* {
    padding: 0;
    margin: 0;
    /* box-sizing: inherit; */
    scroll-behavior: smooth;
}

:root {
    --main-bg-blue: #000060;
    --highlight-blue: #40abc5;
    --highlight-pink: #ff61af;
}

body {
    margin: 0;
    background-color: var(--main-bg-blue);
    color: white;
    overflow-x: hidden;
    font-family: 'Exo', sans-serif;
}

header,
footer,
section {
    display: grid;
    place-items: center;
    width: 100vw;
}

header,
section {
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

header {
    isolation: isolate; /* reset z-index for this area */
    background-color: transparent;
    position: relative;
    grid-template-rows: 30fr 25fr 45fr;
}

header > * {
    z-index: 1;
}

#canvas {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    max-width: 100vw;
    max-height: 100vh;
}

.h1 {
    position: relative;
    width: 100%;
}

.h2 {
    position: relative;
    top: 88%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

/* Changing the Cursor Style */
* {
    cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1162.ani),
        url(https://ani.cursors-4u.net/cursors/cur-13/cur1162.png), auto !important;
}

.pink-text-shadow {
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1,
        0 0 0.5em #fe05e1;
}

