@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

.heading {
    perspective: 700px;
    font-size: clamp(10px, 2vw, 20px);

    text-align: center;

    --pink-glow-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}

#sponsors {
    font-size: 1.2em;
    padding-top: 1em;
    text-align: center;
}

#sponsors a {
    text-decoration: none;
    color: inherit;
}

#sponsors a:hover {
    color: var(--highlight-blue);
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff;
}

#sponsors a:active {
    color: var(--highlight-pink);
}

h1 {
    position: relative;
    font-family: 'Exo';
    font-size: clamp(1em, 5vw, 8em);
    margin: 25px;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
}

header h1 {
    position: relative;
    font-family: 'Exo';
    font-size: 6em;
    margin: 10px;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
}

h1::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: radial-gradient(
            white 3%,
            rgba(255, 255, 255, 0.3) 15%,
            rgba(255, 255, 255, 0.05) 60%,
            transparent 80%
        ),
        radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/5%
            100%,
        radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/70%
            5%;
    background-repeat: no-repeat;
}
h1 span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}
h1 span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        #032d50 25%,
        #00a1ef 35%,
        white 50%,
        #20125f 50%,
        #8313e7 55%,
        #ff61af 75%
    );
    -webkit-text-stroke: 0.01em #94a0b9;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Mr Dafoe';
    margin: 0;
    font-size: 5.2em;
    margin-top: -1.3em;
    color: white;
    text-shadow: var(--pink-glow-shadow);
    transform: rotate(-7deg);
}

#landing {
    font-family: 'Exo', sans-serif;
}

#subheading {
    font-family: 'Mr Dafoe', sans-serif;
    text-align: center;
    font-size: 1.8em;
}

