

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
footer {
  height: 50vh;
  background: linear-gradient(132deg, #000060, rgb(36, 83, 255) 100.00%);
}
.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 2.15em;
    position: relative;
    font-size: 2.28em;
  }
  
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 101px;
    height: 101px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00f7ff, #11afd6);
    transition: all 265ms ease-out;
  }
  
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  
  .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #40abc5;
    background: -webkit-linear-gradient(45deg, #00e1ff, #07d9e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }
  /* made with love  */
  @import url(https://fonts.googleapis.com/css?family=Montserrat);


  .containerr {
    display: flex;
    width: 100%;
  /*   border:1px solid red; */
    height: 100%;
    align-items: center;
  }
  svg {
      display: block;
      font:18vw 'Montserrat';
      width: 100%;
      height: 10vh;
      /* box-shadow: 10px 10px 99px 0px rgb(6, 82, 103); */
      /* background-image: linear-gradient(to top, #112539 0%, #1fa7bd 100%); */
      margin: 0 auto;
  }
  
  .text-copy {
      fill: none;
      stroke: rgb(255, 255, 255);
      stroke-dasharray: 6% 29%;
      stroke-width: 15px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
    stroke: #9f55ee;
    animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
    stroke: #1421e2;
    animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
    stroke: #8224bd;
    animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
    stroke: #ffffff;
    animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
    stroke: #2844e2c9;
    animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }