nav#navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--main-bg-blue);

    display: flex;
    justify-content: center;
    column-gap: 1em;
}

#navbar > a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1em 0.5em;
}

#navbar > a:hover {
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    color: white;
    background-color: #080484;
}

#navbar.at-the-top a:first-child {
    display: none;
}

#navbar > a.current {
    border-bottom: solid var(--highlight-pink);
    color: var(--highlight-pink);
}
#navbar > a.current:hover {
    text-shadow: none;
    background-color: var(--main-bg-blue);
}
