#register-button {
    position: fixed;
    bottom: 3em;
    right: 3em;

    color: var(--main-bg-blue);
    text-decoration: none;
    /* letter-spacing: 0.02em; */

    background-color: var(--highlight-blue);
    padding-block: 1em;
    padding-inline: 2em;
    border-radius: 2em;

    transition: 0.3s ease-out;
}

#register-button:hover {
    transform: scale(1.5);
    background-color: var(--highlight-pink);
}

#landing-register-button {
    font-size: 1.5em;
    text-decoration: none;
    display: block;

    transition: 0.3s ease-out;
}

#landing-register-button:hover {
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    color: white;
    transform: scale(1.3);
}

