* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000060;
    color: #ccece6;
}

header,
footer,
section {
    display: grid;
    place-items: center;
    height: 100vh;
}

header {
    isolation: isolate; /* reset z-index for this area */
    background-color: transparent;
    position: relative;
    grid-template-rows: 30fr 25fr 45fr;
}

header > * {
    z-index: 1;
}

#canvas {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

footer {
    height: 50vh;
    background-color: black;
}

.h1 {
    position: relative;
    width: 100%;
}

.h2 {
    position: relative;
    top: 88%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

/* Changing the Cursor Style */
* {
    cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1162.ani),
    url(https://ani.cursors-4u.net/cursors/cur-13/cur1162.png),
    auto !important;
}