* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header,
footer,
section {
    display: grid;
    place-items: center;
    height: 100vh;
}

header {
    grid-template-rows: 50fr 40fr 10fr;
}

footer {
    height: 30vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
}
nav > a {
    display: block;
}
